<% if title != nil and (users.empty? == false) %>

  <div class="user-search">
    <b><%= title %></b>
    <% if search == true %>
      <input class="name" type=text rel="<%= id %>" />
    <% end %>
    <br/>
  </div>

<% end %>
<% if grid.nil? or grid == false %>
<% i = 0 %>
<ul class="users">
  <% users.each do |user| %>
    <% if with_assignment_check == true %>      
      <% next if project_is_user_assigned?(@project, user.id) == false %>
    <% end %>
    <% i += 1 %>
    <li>     
      <% if make_leader == true %>
        <% if is_user_leader(@project, user) %>
          <%= image_tag('star.png', :class => "leader-badge", :title => "Manager") %>
        <% end %>
      <% end %>    
      <div class="user-info">	
	<%= link_to(user) do %>
	  <%= gravatar_for user, :size => 30 %>
	  <%= user.name %>
	<% end %>

	<% if disabled == false %>
	  <% if is_user_leader(@project, current_user) %> 	    
	    <% if unassign == true %>
	    | <%= link_to "Unassign", project_user_path(@project, user), :method => :delete,
				    :title => "Unassign #{user.name}" %>
	    <% end %>
	  <% end %>
	  <% if is_user_leader(@project, current_user) %> 	    
	    <% if assign == true %>
	    | <%= link_to "Assign", project_user_path(@project, user), :method => :put,
				    :title => "Assign #{user.name}" %>
	    <% end %>
	    <% if make_leader == true %>
		<% if not is_user_leader(@project, user) %>       
		| <%= link_to "Make Manager", project_leader_path(@project, user), :method => :put,
				    :title => "Unassign #{user.name}" %>
		<% end %>
	    <% end %>

	  <% end %>
	<% end %>
      </div>
      <br />
    </li>    
  <% end %>
  <% if i == 0 %>
    <p>All users were assigned in this project.</p>
  <% end %>
</ul>
<% else %>
<table id="<%= id %>" class="users grid-view">
  <% has_gravatar = defined?(gravatar) and gravatar == true %>
  <% fields =  ["", "id", "name", "email",  ""] %>
  <% unless has_gravatar %>
    <% fields.delete_at(0) %>
  <% end %>
  <% labels =  { "id" => "#", "name" => "Name", "email" => "Email" }  %>

  <%= generate_table_headers(users, users_path, :fields => fields, :labels => labels ) %>
  <tbody>
    <% users.each do |user| %>
    <% if with_assignment_check == true %>      
      <% next if project_is_user_assigned?(@project, user.id) == false %>
    <% end %>
    <tr>
<!--
     <td><%= link_to user.id, user_path(user)  %></td>
     <td class="name-cell" ><%= link_to user.name, user_path(user)  %></td>
     <td class="email-cell"><%= user.email %></td>
-->
     <% if has_gravatar %>
     	 <td class="gravatar-cell"><%= gravatar_for user, :size => 24 %></td>
     <% end %>
     <td class="id-cell"><%= link_to user.id, user_path(user) %></td>
     <td class="name-cell" ><%= link_to user.name, user_path(user) %></td>
     <td class="email-cell"><%= user.email %></td>
     <td>
	    <div class="table-actions">
    	<% if disabled == false %>
    	  <% if is_user_leader(@project, current_user) %> 	    
    	    <% if make_leader == true %>
    		  <% if not is_user_leader(@project, user) %>       
    	    	  <%= add_image_action(project_leader_path(@project, user), 'star.png', "", 
                        { 
                          :link => true, 
                          :method => :put,
                          "title" => "Make manager of project #{@project.name}" 
                        }) %>
        	  <% end %>
    	    <% end %>
    	    
            <% if unassign == true %>
    	      <%= add_image_action( project_user_path(@project, user), 'disable.png', "", { :link => true, :method => :delete,
    		    	    "title" => "Unassign #{user.name} to project" }) %>
    	    <% end %>
    	    <% if assign == true %>
    		  <%= add_image_action(project_user_path(@project, user), 'enable.png', "", { :link => true, :method => :put,
    		    	    "title" => "Assign #{user.name} to project" }) %>
    	    <% end %>

    	  <% end %>
    	<% end %>
        </div>
    </td>  
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
