<% content_for :sub_actions do %>
  <%= sub_toolbar do %>
    <%= new_action(Project, { "original-title" => "New Workspace"}) %>
  <% end %>
<% end %>

<% content_for :content do %>

  <!-- Assigned Projects -->
  <% if @projects.length > 0 %>
  <p><b>Assigned:</b></p>
    <%= render :partial => "projects", :locals => {
      :projects => @projects,
      :with_action => true,
      :name => "assigned" } %>
    <% end %>
  <br />

  <!-- Public Projects -->
  <% if @public_projects.length > 0 %>
  <p><b>Public:</b></p>
    <%= render :partial => "projects", :locals => { :projects => @public_projects, :name => "public" } %>
  <% end %>
  <br />

  <% if current_user.admin? and @private_projects.length > 0 %>
    <p><b>Private:</b></p>
    <%= render :partial => "projects", :locals => { :projects => @private_projects, :name => "private" } %>
  <% end %>
<% end %>
