<% content_for :sub_actions do %>
  <%= sub_toolbar do %>
    <%= new_action(new_project_path) %>
  <% end %>
<% end %>

<% content_for :content do %>
  <% if @projects.length > 0 %>
  <table id="sysimages" class="grid-view">
    <%= generate_table_headers(Project, projects_path, :fields => [ "", "id", "name", "description", "updated_at", "__actions"], :labels => { "id" => "#" }, 
			      :filters => { "id" => 'integer_field_select', "updated_at" => 'text_field'}) %>
    <tbody>
    <% @projects.each do |project| %>
      <tr>
	<td><%= image_tag project_logo_path(project), {:height => 32, :width => 32} %></td>
	<td class="underline"><%= link_to project.id, project %></td>
	<td><%= link_to project.name, project %></td>
	<td><%= project.description %></td>
	<td><%= project.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
	<% if is_user_leader(project, current_user) %>
	<td>
	  <div class="table-actions">
        <%= edit_action(edit_project_path(project), {:link => true, :text => false, "original-title" => "Edit Project Settings"} ) %>
        <%= delete_action(project, { :confirm => "Are you sure?", :link => true, :text => false, "original-title" => "Delete Project"}) %>
        <%= assign_action(assign_project_path(project), { :link => true, :text => false, "original-title" => "Assign users to Project"}) %>
	  </div>
	</td>
	<% else %>
	<td></td>
	<% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% end %>
  <br />
<% end %>
