<% content_for :sub_actions do %>
  <%= sub_toolbar do %>
    <%= back_action(projects_path) %>
    <%= edit_action(@project, {"original-title" => "Edit workspace"} ) %>
    <%= assign_action(@project, {"original-title" => "Assign users to workspace"} ) %>
    <%= delete_action(@project, { :confirm => "Are you sure you want to delete this project?\nAll associated experiments will also be deleted.", "original-title" => "Delete workspace" }) %>
  <% end %>
<% end %>

<% content_for :content do %>
  <div class="profile" summary="Profile information">
    <div class="main">
      <h1>
        <img align="center" alt="jmartins" class="profile-project" width="50" height="50" src="<%= project_logo_path(@project) %>">
      </h1>
    </div>
    <div class="sidebar round">
      <p>
	<b>Name:</b>
	<%= @project.name %>
      </p>

	<b>URL:</b>
	<%= link_to project_path(@project), project_path(@project) %>
      </p>

      <p>
	<b>Description:</b>
	<%= @project.description %>
      </p>
    <br/> 
    <% if @experiments.size > 0 %>
    <div class="table-title">
      <div class="bold">Experiments: </div>
      <div class="table-top-action"><%= new_action([Experiment, {:reset => 1}], {"original-title" => "New Experiment"}) %></div>
    </div>
    <%= clear %>
    <% end %>
  
    
    <% if @experiments.size > 0 %>
      <%= render :partial => 'experiments'  %>
    <% end %>
    </div>
    </div>
<% end %>

<% content_for :footer do %>
<%= modal_dialog("", "modal-dialog") %>
<% end %>
