<% creator = @experiment.user %>
<% project = @experiment.project %>

<div class="branch-info">
  <b>Branch:</b>
  <%= select_tag "experiment[branches]", options_for_select(@experiment.branches.collect {|b| [ b.name ] }) %>
  <%= commit_branch_image_link %>
  <%= change_branch_image_link(edit_ed_path(@experiment.ed)) %>
  <%= new_branch_image_link(edit_ed_path(@experiment.ed)) %>
  <p id="changes_warning" class="notice" style="display:none">Need to save your changes</p>
</div>

<p>
  <b>Creator:</b>
  <%= link_to creator.name, user_path(:id => creator.id) %>
</p>

<p>
  <b>Workspace:</b>
  <%= add_image_action(project_path(project), project_logo_path(project), project.name, { :link => true } ) %>
</p>

<p>
  <b>Duration:</b>
  <%= @experiment.duration %>
</p>

<p class="ed-description">
  <b>Description:</b>
  <%= @experiment.ed.description %>
</p>

<p>
  <b>Runs:</b>
  <%= @experiment.runs %>
</p>
