<% current_branch = @experiment.repository.current.name %>
<ul id="experiment-widget-tabs" class="tabs">
  <li><a href="#status">Status</a></li>
  <li><%= rev_pane_link %> </li>
  <li><%= ed_pane_link %> </li>
  <li><%= rm_pane_link %> </li>
  <% if @raw_results.length > 0%>
    <li><a href="#results">Results</a></li>
  <% end %>
  <% unless @experiment.prepared? %>
    <li id="log-tab-sel"><a href="#log">Log</a></li>
  <% end %>
</ul>

<%= render :partial => 'status' %>

<div id="revisions" class="tab">  
  <% @revisions.each do |r| %>
    <% message = r['message'] %>
    <% tm = r['timestamp'] %>
    <div class="commit-line <%= @revision.to_i == tm.to_i ? "current-commit" : "" %>">
      <a href="<%= experiment_path(@experiment, :branch => @experiment.current, :revision => tm) %>">
        <%= tm %>
      </a>
      <span>
        <%= Time.at(tm).strftime("%d %B %Y %H:%M:%S") %>
      </span>
      <span><%= message.blank? ? "[Empty Message]" : message %></span>
    </div>
  <% end %>
</div>

<%= form_tag(commit_experiment_branch_path(
                :experiment_id => @experiment.id, 
                :id => current_branch), 
             :id => 'commit-branch-form') do %>
<div id="ed" class="tab">
  <%= text_area_tag :code, @experiment.code  %>
</div>
<div id="rm" class="tab">
<%= render :partial => 'e_map' %>
</div>
<% end %>

<% if @raw_results.length > 0 %>
  <%= render :partial => 'results' %>
<% end %>  

<div id="log" class="tab">
  <%= render :partial => 'log' %>
</div>
