<% content_for :content do %>
  <p>
    <span class="bold">Prepared</span>
  </p> 
  <% if @prepared.blank? %>
    <%= content_tag(:span, t("amazing.experiments.messages.empty"), :class => "indented") %>
  <% else %>
    <%= render :partial => 'queue_list', :locals => { :experiments => @prepared, :style => "prepared" } %>
  <% end %>

  <p>
    <span class="bold">Queue</span>
  </p>
  <% if @queue.blank? %>
    <%= content_tag(:span, t("amazing.experiments.messages.empty"), :class => "indented") %>
  <% else %>
    <p class="info">
      <%= t("amazing.experiments.messages.queue_tip") %>
    </p>
    <%= render :partial => 'queue_list', :locals => { :experiments => @queue } %>
  <% end %>  
<% end %>

<% content_for :footer do %>
  <%= modal_dialog("", "modal-dialog") %>
<% end %>
