<% if params.has_key?("resources") %>
$("#modal-dialog").addClass("resources-map-dialog");
$("#modal-dialog > .modal-container").addClass("resources-map-dialog-container");
$("#modal-dialog > .title-box").html("Resources: System Image <span class=\"sysimage-id\"></span> <span class=\"sysimage-desc\"></span>")
$("#modal-dialog > .modal-container").html("<%= escape_javascript(render(:partial => "testbeds/map")) %>");
  <% last = SysImage.last.id %>
  <% @resources.each do |rm| %>
    <% d = rm.sys_image_id.to_f/last.to_f %>
$("#node-<%= rm.node_id %>").css("background-color", rgb_color("<%= d %>"));
$("#node-<%= rm.node_id %>").attr("description", "<%= "#{rm.sys_image.name}" %>");
  <% end %>
$("#modal-dialog").toggleClass("dialog-active");
$(".node[description]").live('mouseover mouseout', function(event) {
  var $this = $(this);
  var elem_id = $this.attr("id");
  var id = $this.text();
  var background = $this.css("background-color");
  if (event.type == 'mouseover') {
    $("#modal-dialog > .title-box > .sysimage-desc").html($this.attr("description"));
    $("#modal-dialog > .title-box > .sysimage-id").html("#"+id);
    $("#modal-dialog > .title-box > .sysimage-id").css("background-color", background);
  } else {
    $("#modal-dialog > .title-box > .sysimage-desc").html("");
    $("#modal-dialog > .title-box > .sysimage-id").html("");
  }
});
<% end %>

<% if params.has_key?("data") %>

  <% unless @results.nil? %>
    <% sources = @results.keys() %>
    <% fields = {} %>
  // data global are the results
  data = {
    <% @results.each do |k,v| %>
        "<%= k %>" : <%= v[:set].to_json.html_safe %>,
        <% fields[k] = v[:columns] %>
    <% end %>
  }
  // Generates new select tags for new results
  $("select#sources").remove();
  $("#graph-choose-source").append("<%= escape_javascript(select_tag :sources, options_for_select(sources.collect { |k| [ k, k ]  })) %>");
  $(".column-select").remove()
    <% eid = @experiment.id.to_s %>
    <% fields.each do |k,v| %>
      <% content = content_tag(:span, "Field:", :class => "bold") +
        select_tag(:columns, options_for_select(v.collect { |c| [ c, c ] })) %>
        $("#graph-choose-source + .clear").after("<%= escape_javascript(
            content_tag(:div, content, :id => "exp#{eid}_"+k,
                        :class => "column-select hidden")) %>")
    <% end %>
  <% end %>
  $("#exp<%= "#{eid}" %>_<%= sources.first %>").removeClass("hidden").addClass("column-active");

<% end %>
