<% content_for :head do %>
  <%= javascript_include_tag 'highcharts/highcharts.js' %>  
  <%= javascript_include_tag 'highcharts/themes/custom.js' %>  
  <%= javascript_include_tag 'codemirror/base/codemirror' %>  
  <!-- 'XXX' Refactoring of status -->
  <script id="prepare-status-template" type="x-jquery-tmpl">    
    <div id="images-loading">
      {{each nodes}}
      <div class="image-progress" id="image-node-${$index}">
        <span class="image-label bold ${$value.state}">node-${$index}:</span>
        <div class="progress-container">
          <span class="progress_text">${$value.progress}%</span>
          <div class="progress_bar" style="width: ${$value.progress}%"></div>
        </div>
        <span class="image-status">${$value.msg}</span>
        <div class="clear"></div></div>
      {{/each}}
    </div>
  </script>
  <script id="experiment-status-template" type="x-jquery-tmpl">
    <div id="experiment-briefing">
      <div class="button giant-button button-disabled" id="prepare-experiment-button">Prepare</div>
      <div class="button giant-button" id="start-experiment-button">Start</div>
      <div class="button giant-button button-disabled" id="stop-experiment-button">Stop</div>
      <div id="caption-experiment">
        <img alt="Loading" src="/images/loading.gif?1292354871">
        <span class="text">$msg</span>
      </div>
      <div class="hidden" id="error-experiment">
        <img alt="Error" src="/images/error.png?1292354871">
        <span class="text">$error</span>
      </div>
    </div>
  </script>
<% end %>

<% content_for :sub_actions do %> 
  <%= sub_toolbar do %>
    <% unless (@experiment.status == 0) %>
      <%= add_image_action(experiment_path(@experiment)+"?reset",
                           'clear.png', 'Reset', { :method => "put" }) %>
    <% end %>
    <%= add_image_action(experiment_path(@experiment, :format => "js")+"?resources",
                         'network2.png', 'Resource Mapping', { :remote => "true" }) %>
<!--    
  <%= add_image_action(experiment_path(@experiment, :format => "pdf"),
                         'pdf.png', 'Report Download') %>
-->
  <% end %>
<% end %>

<% content_for :content do %>
  <% creator = @experiment.user %>
  <% project = @experiment.project %>
  <p>
    <b>Creator:</b>
    <%= link_to creator.name, user_path(:id => creator.id) %>
  </p>

  <p>
    <b>Workspace:</b>
    <%= add_image_action(project_path(project), project_logo_path(project), project.name, { :link => true } ) %>
  </p>

  <p>
    <b>Duration:</b>
    <%= @experiment.duration %>
  </p>

  <p>
    <b>Description:</b>
    <%= link_to "[See Ed]", "#nav-global", :class=>"more-ed-anchor", :ed => @experiment.ed.id %>
    <%= @experiment.ed.description %>
    <%= link_to "[Edit Ed]", edit_ed_path(@experiment.ed), :class => "more-ed-anchor" %>
  </p>        
  
  <p>
    <b>Runs:</b>
    <%= @experiment.runs %>
  </p>        
  <hr/>

<% # EXPERIMENT STATUS %>
<ul id="experiment-widget-tabs" class="tabs">
	<li><a href="#status">Status</a></li>
    <% if @experiment.finished? and @raw_results.length > 0%>
	  <li><a href="#results">Results</a></li>
    <% end %>
	<li><a href="#log">Log</a></li>
</ul>
<div id="status" class="tab">
    <p class="notice">
      <%= t("amazing.experiments.messages.bug_report").html_safe %>    
    </p> 
  <% if @experiment.started? or @experiment.prepared? %>
    <p class="info">
      <%= t("amazing.experiments.messages.execution_warn") %>    
    </p>
  <% end %>
  <% if !@experiment.init? or @experiment.preparing? %>
    <p class="info">
      <%= t("amazing.experiments.messages.preparation_warn") %>    
    </p>
  <% end %>
  <%= experiment_widget(@experiment, @nodes) %>
</div>
<% if @experiment.finished? and @raw_results.length > 0 %>
<div id="results" class="tab">
<% # GRAPHS %>
  <%= content_tag :div, :id => "graph-choose-run" do %>
    <span class="bold">Run:</span>
    <%= select_tag :runs, options_for_select(@raw_results.collect { |k| [ k, k ]  }) %>
  <% end %>
  <%= content_tag :div, :id => "download-data-set-button", :class => "button" do %>  
    <%= link_to "Download", experiment_path(@experiment, :format => "sq3", :run => @raw_results.first ), :id => "run-download-link", 
                "original-title" => "Download raw results" %>
  <% end %> 
  <%= link_to "[See Dump]", "#nav-global", :class=>"show-dump-anchor" %>
 
  <%= clear %>
  <%= content_tag :div, :id => "graph-choose-box" do %>   
    <%= content_tag :div, :id => "graph-choose-source" do %>
      <span class="bold">Source:</span>
      <%= select_tag :sources, options_for_select(@results.keys.collect { |k| [ k, k ]  }) %>
    <% end %>
    <%= clear %>    
    <% i = 0 %>
    <% @results.each do |k,v| %>
      <% css_class = (i>0 ? " hidden " : "") %>
      <% css_class += (i==0 ? " column-active  " : "") %>
      <%= content_tag :div, :id => "exp#{@experiment.id.to_s}_"+k , :class => "column-select "+ css_class do %>
        <span class="bold">Field:</span>
        <%= select_tag :columns, options_for_select(v[:columns].collect { |c| [ c, c ]  }) %>
      <% end %>
      <% i += 1 %>
    <% end %>    
  <% end %>  
  <%= clear %>
  <%= content_tag :div, :class =>"graph-actions" do %>
    <%= content_tag :div, "Add Series", :id => "choose-data-set-button", :class => 'button' %>
    <%= content_tag :div, "Clear", :id => "clear-data-set-button", :class => 'button' %>
  <% end %>
  <%= content_tag :div, "", :id => "graph", :class => "graph-container" %>  


<script>
var data = {
  <% @results.each do |k,v| %>
  "<%= k %>" : <%= v[:set].to_json.html_safe %>,
  <% end %>
}

chart = new Highcharts.Chart({
  chart: {
    renderTo: 'graph',
    defaultSeriesType: 'line',
    marginRight: 130,
    marginBottom: 25
  },
  title: {
    text: 'Experiment <%= @experiment.id  %>',
    x: -20 //center
  },
  xAxis: {
    categories: <%= @seq_num.to_json %>
  },
  yAxis: {
    plotLines: [{
      value: 0,
      width: 1,
      color: '#808080'
    }]
  },
  tooltip: {
    formatter: function() {
                return '<b>'+ this.series.name +'</b><br/>'+
        this.x +': '+ this.y;
    }
  },
  credits: {
    enabled: false
  },
  legend: {
    layout: 'vertical',
    align: 'right',
    verticalAlign: 'top',
    x: -10,
    y: 100,
    borderWidth: 0
  },
  series: []
});                

$("#sources").change(function(){
  var $this = $(this);
  var value = $this.val();
  var not_hidden = $(".column-select").hide().removeClass("column-active");
  var showed = $("#exp<%= @experiment.id %>_"+value);
  showed.show().addClass("column-active");
});

$("#choose-data-set-button").live('click', function(){
  var run = $("#runs option:selected").text();
  var table = $("#sources option:selected").text();
  var field = $(".column-active option:selected").text();
  var _tmp = Array();
  var results = data[table];
  for (i=0;i<results.length; ++i) {
    _tmp.push(results[i].data[field]);
  }
  chart.addSeries({
    name : field+"("+table+", run="+run+")",
    data : _tmp,
    redraw: false,
  });
});

$("#clear-data-set-button").live('click', function(){
  while(chart.series.length != 0){
    chart.series[0].remove(false);
  }
  chart.redraw();
});
</script>
</div>
<% end %>  

<div id="log" class="tab">
<% unless @experiment.init? %>
  <textarea id="log_area">
  </textarea>
<% end  %>
</div>
<% end %>
<% content_for :footer do %>
<%= modal_dialog("", "modal-dialog") %>
<% end %>
