function experiment_stat() {
  var extra = "?log";
  var tab = $(".tab-active")  
  var base = "<%= stat_experiment_path(:id => params[:id], :format => :js) %>"
  var url = (tab.find("a").attr("href") == "#log") ? base+"?log" : base 
  $.getScript(url)
}
<% if @log %>
  //var log = $("#log")
  $("#log_area").val("<%= escape_javascript(@log) %>");
<% end %>
<% if @experiment.preparing? %>
  $("#error-experiment").addClass("hidden");
  $("#caption-experiment").show()
  $(".image-progress").show()
  <% @nodes.each do |k, v| %> 
    <% v[:state].gsub!(".", "_") %>
    $("#image-node-<%= k %> > .image-label").removeClass("node-RESETTING node-LOADING node-DONE_ERR node-DONE_TIMEOUT node-TIMEDOUT node-DONE_OK").addClass("node-<%= v[:state] %>")
    $("#image-node-<%= k %> > .image-status").html("<%= v[:msg] %>");
    $("#image-node-<%= k %> > .progress-container > .progress_text").html("<%= v[:progress] %>%")
    $("#image-node-<%= k %> > .progress-container > .progress_bar").css("width","<%= v[:progress] %>%")
  <% end %>
  <% if @state=="PREPARED" %>
    $("#caption-experiment").hide(); 
    $("#stop-experiment-button").addClass("button-disabled");
    $("#start-experiment-button").removeClass("button-disabled");
    $("#prepare-experiment-button").addClass("button-disabled");
  <% else %>
    setTimeout(experiment_stat,2000);
  <% end %>
<% elsif @experiment.started? %>
  <% if @error.nil? %>
  function experiment_stat(){
    $.getScript("<%= stat_experiment_path(:id => params[:id], :format => :js) %>");
  }
  $("#error-experiment").addClass("hidden");
  $("#caption-experiment").show();
  $(".image-progress").show();
  setTimeout(experiment_stat,2000);
  <% else %>
  $("#error-experiment").removeClass("hidden");
  $("#error-experiment > .text").html("<%= @error %>");
  <% end %>
<% elsif @experiment.finished? %>
  $("#caption-experiment > .text").html("<p class=\"success\">Experiment Finished! <%= escape_javascript(link_to 'See Results', "#results", :onclick => "window.location.reload()") %></p>");
  $("#caption-experiment > img").hide(); 
  $("#stop-experiment-button").addClass("button-disabled");
  $("#start-experiment-button").removeClass("button-disabled");
<% elsif @experiment.preparation_failed? %>
  $("#caption-experiment > .text").html("<p class=\"error\">Preparation failed</p>");
  $("#caption-experiment > img").hide(); 
  $("#stop-experiment-button").addClass("button-disabled");
  $("#start-experiment-button").addClass("button-disabled");
  $("#prepare-experiment-button").removeClass("button-disabled");
<% elsif @experiment.experiment_failed? %>
  $("#caption-experiment > .text").html("<p class=\"error\">Experiment failed</p>");
  $("#caption-experiment > img").hide(); 
  $("#stop-experiment-button").addClass("button-disabled");
  $("#start-experiment-button").removeClass("button-disabled");
<% end %>
