function experiment_stat() {
  var extra = "?log";
  var tab = $(".tab-active")  
  var base = "<%= stat_experiment_path(:id => params[:id], :format => :js) %>"
  var url = (tab.find("a").attr("href") == "#log") ? base+"?log" : base 
  $.getScript(url)
}
<% if @log %>
  var log = $("#log")
  log.html("<textarea id=\"log_area\"><%= escape_javascript(@log) %></textarea>");
  var area = $("#log_area")
  area.scrollBottom = area.scrollHeight;
<% end %>
<% if @experiment.preparing? %>
  $("#error-experiment").addClass("hidden");
  $("#caption-experiment").show()
  $(".image-progress").show()
  <%= render :partial => 'stat_prepare.js' %>
<% elsif @experiment.started? %>
  <%= render :partial => 'stat_experiment.js' %>
<% elsif @experiment.finished? %>
  $("#caption-experiment > .text").html("<p>Experiment Finished! <%= escape_javascript(link_to 'See Results', experiment_path(@experiment)) %></p>");
  $("#caption-experiment > img").hide(); 
  $("#stop-experiment-button").addclass("button-disabled");
  $("#start-experiment-button").removeclass("button-disabled");
<% elsif @experiment.preparation_failed? %>
  $("#caption-experiment > .text").html("<p>Preparation failed: <%= @msg  %></p>");
  $("#stop-experiment-button").addClass("button-disabled");
  $("#start-experiment-button").addClass("button-disabled");
  $("#prepare-experiment-button").removeClass("button-disabled");
<% elsif @experiment.experiment_failed? %>
  $("#caption-experiment > .text").html("<p>Experiment fcailed: <%= @msg  %></p>");
  $("#caption-experiment > img").hide(); 
  $("#stop-experiment-button").addclass("button-disabled");
  $("#start-experiment-button").removeclass("button-disabled");
<% end %>
