var options = { data : {} };
<% if @log %>
  log("<%= escape_javascript(@log) %>");
<% end %>

<% if @msg %>
  //options.warn = "<p class=\"text info\"><%= @msg %></p>";
<% end %>

<% if @experiment.preparing? %>
  options.text = "";
  options.data = {
    nodes : <%= raw(@nodes.to_json) %>,
    state : "<%= @state %>"
  }
<% elsif @experiment.finished? %>
  options.text = "<p class=\"text success\">Experiment Finished! <%= escape_javascript(link_to('See Results', "#results", :onclick => "window.location.reload()")) %> </p>"
<% end %>

showStatus(<%= @status %>, options);
