<% content_for :main_content do %> 
  <% toolbar do %>
    <%= add_action 'Users', admin_users_path, { :controller => 'admin/users'} %>
    <%= add_action 'Baseline Images', admin_sys_images_path, { :controller => 'admin/sys_images'} %>
    <%= add_action 'Testbeds', admin_testbeds_path, { :controller => 'admin/testbeds'} %>
  <% end %>
 
  <% sub_toolbar do %>
    <%= yield :sub_actions %>
  <% end %>
  <br/>
  <div id="file-show">
    <%= yield :content %>
  </div>
  <div class="clear"></div>
<% end %>

<%= render :template => 'layouts/application' %>
