<!DOCTYPE html>
<html>
<head>
  <title>AMazINg Panel</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  <!--<%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>-->
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
    <div id="top-border"></div>
    <div id="header">      
      <a id="logo" href="http://amazing.hng.av.it.pt" title="Home"></a>
      <div id="omni-box" class="fixed-width">
	  <ul id="omni-global">
	    <% if user_signed_in? %>
	      <li class="omni-item-root omni-item <%= omni_is_active("users/users","show") %>">
		  <a href="<%= user_path(current_user.id) %>"><%= gravatar_for current_user %>Profile</a>
	      </li>	      
	      <li class="omni-item <%= omni_is_active("users/sessions","destroy") %>"><%= link_to "Sign Out", destroy_user_session_path %></li>
	    <% else %>
	      <li class="omni-item-root omni-item <%= omni_is_active("users/sessions","new") %>"><%= link_to "Sign in", new_user_session_path %></li>
	      <li class="omni-item-root omni-item <%= omni_is_active("users/registrations","new") %>"><%= link_to "Sign Up", new_user_registration_path %></li>
	    <% end %>
	  </ul>
      </div>
    </div>
    
    <% if user_signed_in? %>
      <div id="nav-global">
	<div id="nav-container">
	  <ul id="menu-global">
	      <li class="top-item-root home-item"><a href="/"></a></li>
	      <li class="top-item <%= top_is_active_by_controller("testbeds") %>"><a href="<%= testbeds_path %>">Testbeds</a></li>
	      <li class="top-item <%= top_is_active("library/library","index") %>"><a href="/library">Library</a></li>
	    <% if current_user.admin? %>
	      <li class="top-item <%= top_is_active("users/users","index") %>"><a href="/users">Users</a></li>
	    <% end%>
	  </ul>
	</div>
      </div>
    <% end %>
    <div id="main-section">
      <br/>
      <div class="container">
	<% flash.each do |key, value| %>
	  <p class="<%= key %>"><%= value %></p>
	<% end %>
	<%= yield %>
      </div>  
    </div>
    
    <div id="footer">
    </div>
  
</body>
</html>
