<% if title != nil and (users.empty? == false) %>
  <b><%= title %></b><br/>
<% end %>
<% i = 0 %>
<ul class="users">
  <% users.each do |user| %>
    <% if with_assignment_check == true %>      
      <% next if testbed_is_user_assigned?(@testbed, user.id) == false %>
    <% end %>
    <% i += 1 %>
    <li>     
      <% if make_leader == true %>
        <% if is_user_leader(@testbed, user) %>
          <%= image_tag('star.png', :height => 30, :width => 30) %>
        <% end %>
      <% end %>    
      
      <%= gravatar_for user, :size => 30 %>
      <%= link_to user.name, user %>

      <% if disabled == false %>
        <% if is_user_leader(@testbed, current_user) %> 

          <% if unassign == true %>
          | <%= link_to "Unassign", testbed_user_path(@testbed, user), :method => :delete,
                                   :title => "Unassign #{user.name}" %>
          <% end %>
          <% if assign == true %>
          | <%= link_to "Assign", testbed_user_path(@testbed, user), :method => :put,
                                   :title => "Assign #{user.name}" %>
          <% end %>
          <% if make_leader == true %>
              <% if not is_user_leader(@testbed, user) %>       
              | <%= link_to "Make Leader", testbed_leader_path(@testbed, user), :method => :put,
                                   :title => "Unassign #{user.name}" %>
              <% end %>
          <% end %>

        <% end %>
      <% end %>
    </li>    
  <% end %>
  <% if i == 0 %>
    <p>All users were assigned in this testbed.</p>
  <% end %>
</ul>
