<% content_for :resources do %>
  <li class="resource-type">
    <ul class="file-list-action"><li>
      <%= link_to "New Exp. Definition", new_ed_path %>
      <%= link_to(new_ed_path, :class => "ul-action") do %>	
	<%= image_tag "add.png", {:height => 16, :width => 16} %>
      <% end %>  
    </li></ul>
    <ul class="file-list" resource="eds">
      <% if is_active_by_controller?('library/eds') %>
	<% Ed.all.each do |ed| %>
	  <li id="<%= ed.id %>" class="file-item">
	    <%= link_to ed.name, ed_path(:id => ed.id) %>
	    <%= link_to(ed_path(ed), :class => "ul-action", :method => "delete") do %>	
	      <%= image_tag "remove.png", {:height => 16, :width => 16} %>
	    <% end %>  
	  </li>
	<% end %>
      <% end %>
    </ul>
  </li>
<% end %>
