<% content_for :head do %>
  <%= javascript_include_tag 'codemirror/base/codemirror' %>  
  <%= stylesheet_link_tag 'codemirror/rubycolors', :media => 'screen' %>  
<% end %>

<% content_for :sub_actions do %>
  <ul id="toolbar-action-list">
    <li class="action">
      <%= link_to(eds_path, :class => "action") do %>
	Back
	<%= image_tag "back.png", {:height => 16, :width => 16} %>
      <% end %> 
    </li>
  </ul>
<% end %>

<% content_for :content do %>
  <%= render :partial => 'form', :locals => { :target => ed_path, :multipart => true, :remote => false }  %>
<% end %>