<% if @experiments.size == 0 %>
  No Experiments.
<% else %>
<table id="experiments" class="grid-view">
  <%= generate_table_headers(@experiments, experiments_path, :fields => ["id", "creator", "ed", "status", ""], :labels => { "id" => "#", "ed"=>"Description", "status"=>"Status" }) %>
  <tbody>
  <% @experiments.each do |exp| %>
    <tr>	
      <td><%= link_to exp.id, exp %></td>
      <% creator = exp.user %>
      <% project = exp.project %>
      <td><%= link_to creator.name, user_path(:id => creator.id)  %></td>
      <td><div class="description"><%= exp.ed.description %></div></td>
      <td class="exp-status"><%= @results[exp.id] == true ? link_to("Has results", experiment_path(exp)+"#results") : "" %></td>
      <td>
        <div class="table-actions">
          <%= add_image_action(experiment_path(exp, :format => "js")+"?resources",
                       'network2.png', '', { :remote => true, :link => true, "original-title" => "See Resource Map in this experiment" }) %>
          <%= delete_action(exp, {:link => true, :text => false, "original-title" => "Delete Experiment", :confirm => "Are you sure?"}) %>
    	  </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>
