<table id="<%= name  %>-projects" class="grid-view">
  <%= will_paginate projects, :previous_label => "Previous", :next_label =>"Next" %>
  <%= generate_table_headers(Project, projects_path, :namespace => "#{name}-projects", :fields => [ "", "id", "name", "description", "updated_at", "__actions"], :labels => { "id" => "#" }, 
  		      :filters => { "id" => 'integer_field_select', "updated_at" => 'text_field'}) %>
  <tbody>
  <% projects.each do |project| %>
    <tr>
  <td><%= image_tag project_logo_path(project), {:height => 32, :width => 32} %></td>
  <td class="underline"><%= link_to project.id, project %></td>
  <td><%= link_to project.name, project %></td>
  <td><div class="description"><%= project.description %></div></td>
  <td><%= project.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
  <td>
    <% if defined?(with_action) and with_action %>
    <div class="table-actions">
      <%= edit_action(project, {:link => true, :text => false, "original-title" => "Edit Workspace Settings"} ) %>
      <%= delete_action(project, { :confirm => "Are you sure?", :link => true, :text => false, "original-title" => "Delete Workspace"}) %>
      <%= assign_action(project, { :link => true, :text => false, "original-title" => "Assign users to Workspace"}) %>
    </div>
    <% end %>
  </td>
    </tr>
  <% end %>
  </tbody>
</table>
