<% content_for :head do %>
  <%= javascript_include_tag 'jquery.tablesorter.min.js' %>
  <script>
    $(document).ready(
      function(){
	//$(".tablesorter").tablesorter({ headers: { 6: { sorter: false} } });
      }
    );
  </script>
<% end %>

<% sysimages = SysImage.where(:baseline => true) %>

<% content_for :sub_actions do %>
  <ul id="toolbar-action-list">
    <li class="action">
      <%= link_to(new_admin_sys_image_path, :class => "action")  do %>
	New
	<%= image_tag "add.png", {:height => 16, :width => 16} %>
      <% end %> 
    </li>

    <% if @filters.length > 0 %>
      <li class="action">
	<%= link_to(admin_sys_images_path+"?filter=clear", :class => "action")  do %>
	  Clear
	  <%= image_tag "clear.png", {:height => 16, :width => 16} %>
	<% end %> 
      </li>
      <li class="action">
	<%= link_to("#", :class => "action", :onclick=> "$('#active-filters-dialog').addClass('dialog-active')")  do %>
	  Show Active Filters
	  <%= image_tag "filter-2.png", {:height => 16, :width => 16} %>
	<% end %>

	<% modal_dialog("Active Filters:", "active-filters-dialog") do %>
	  <% active_filters(admin_sys_images_path) %>
	<% end %>

      </li>
    <% end %>	

  </ul>
<% end %>



<% if @error.nil? == false %>
  <% content_for :content do %>
    Invalid Filter.
  <% end %>  
<% elsif @sys_images.nil? or @sys_images.length == 0 %>
  <% content_for :content do %>
    No Baseline Images on your Library.
  <% end %>
<% else %>

  <% content_for :content do %>
    <table id="sysimages" class="grid-view  tablesorter">
<!--
    <thead>
      <tr>
	<%= table_header("#") do %>
	  <%= modal_filter_dialog("id") do %>
	    <%= integer_field_select_filter(admin_sys_images_path, "id", resource_find_all) %>
	  <% end %>	  
	<% end %>
	
	<%= table_header("Creator") do %>
	  <%= modal_filter_dialog("creator") do %>
	    <%= string_list_field_filter(admin_sys_images_path, "user_id", resource_find_all, User) do |u| %>
	      <%= gravatar_for u, :size => 36  %>
	      <%= link_to u.name, filter_path(admin_sys_images_path, "user_id", "eq", u.id.to_s) %>
	    <% end %>	   
	  <% end %>
	<% end %>

	<%= table_header("Name") %>
	<%= table_header("Kernel Version / Operating System") do %>
	  <%= modal_filter_dialog("kernel_version_os") do %>
	    <%= string_list_field_filter(admin_sys_images_path, "kernel_version_os", resource_find_all, nil, nil, "like") %>
	  <% end %>	  
	<% end %>	
	<%= table_header("Size (bytes)") do %>
	  <%= modal_filter_dialog("size") do %>
	    <%= text_field_filter(admin_sys_images_path, "size") %>
	  <% end %>
	<% end %>	
	<%= table_header("Description") %>	
	<%= table_header("") %>
      </tr>
    </thead>
-->
    <%= generate_table_headers(SysImage, admin_sys_images_path, 
	    :fields => [ "id", "user_id", "name", "kernel_version_os", "size", "description", "updated_at", "__actions"],
	    :labels => { "id" => "#", "user_id" => "Creator", "sys_image_id" => "Baseline", "kernel_version_os" => "Kernel Version / Operating System" }, 
	    :refs => { "user_id" => [User, nil, "eq"], "sys_image_id" => [SysImage, "name", "eq"], "kernel_version_os" => [nil, nil, "like"] },
	    :filters => { "id" => 'integer_field_select', "user_id" => 'string_list_field:custom', "sys_image_id" => 'string_list_field',
	      "kernel_version_os" => 'string_list_field', "updated_at" => 'text_field', "size" => 'text_field' }) do |u| %>
	<% if u.field_filter == "user_id" %>
	  <%= gravatar_for u, :size => 36  %>
	  <%= link_to u.name, filter_path(admin_sys_images_path, "user_id", "eq", u.id.to_s) %>
	<% end %>
    <% end %>
    <tbody>
      <% @sys_images.each do |sys_image| %>
	<% creator = User.find(sys_image.user_id) %>
	<tr>
	  <td><%= link_to sys_image.id, admin_sys_image_path(sys_image), :class => "underline" %></td>
	  <td><%= link_to creator.name, admin_user_path(creator)%></td>
	  <td><%= link_to sys_image.name, admin_sys_image_path(sys_image) %></td>
	  <td><%= sys_image.kernel_version_os %></td>
	  <td><%= sys_image.size %></td>
	  <td><%= sys_image.description %></td>
	  <td><%= sys_image.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
	  <td>
	    <div class="table-actions">
	      <%= link_to(admin_sys_image_path(sys_image), :class => "action")  do %><%= image_tag "edit.png", {:height => 16, :width => 16} %><% end %>
	      <%= link_to(admin_sys_images_path, :class => "action", :method => "delete") do %><%= image_tag "remove.png", {:height => 16, :width => 16} %><% end %> 
	    </div>
	  </td>
	</tr>
      <% end %>
    </tbody>
    </table>
  <% end %>
<% end %>
