<%= form_for(@sys_image, :as => :sys_image, :url => target, :html => {:multipart => multipart, :remote => remote}) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

  <% if multipart == true %>
    <div class="field">
      <%= label_tag 'System Image' %><br />
      <%= file_field_tag :file %>
    </div> 
  <% end %> 
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
