<%= form_for(@sys_image, :as => :sys_image, :url => target, :html => {:multipart => multipart, :remote => remote}) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :kernel_version_os %><br />
    <%= f.text_field :kernel_version_os %>
  </div>

  <div class="field">
    <%= f.label("Is baseline?")%>
    <%= f.check_box :baseline %>
  </div>  
  
  <div class="field">
    <%= f.label("Choose a Baseline:")%><br/>
    <%= select_tag(:sys_image_id, options_for_select(@baselines)) %>
  </div>  
  
  
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

  <% if multipart == true or ajax_upload == true%>
    <div class="field">
      <%= label_tag 'System Image' %><br />
      <% if ajax_upload == false %>
        <%= file_field_tag :file %>     
      <% else %>
        <input id="file" name="" type="file">        
        <div class="progress-container">
          <span id="image-progress-text" class="progress_text"></span>
          <div  id="image-progress-bar" class="progress_bar" style="width: 0%"></div>
        </div> 
      <% end %>
    </div> 
  <% end %> 
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
