<% content_for :resources do %>
  <li class="resource-type">
    <ul class="file-list-action"><li>
      <%= link_to "New System Image", new_sys_image_path %>
      <%= link_to(new_sys_image_path, :class => "ul-action") do %>	
	<%= image_tag "add.png", {:height => 16, :width => 16} %>
      <% end %>  
    </li></ul>
    <ul class="file-list" resource="sys_images">
    <% if is_active_by_controller?('library/sys_images') %>
      <% SysImage.all.each do |sys_image| %>
	<li id="<%= sys_image.id %>" class="file-item">
	  <%= link_to sys_image.name, sys_image_path(:id => sys_image.id) %>
	  <%= link_to(sys_image_path(sys_image), :class => "ul-action", :method => "delete") do %>	
	    <%= image_tag "remove.png", {:height => 16, :width => 16} %>
	  <% end %>  
	</li>
      <% end %>
    <% end %>
    </ul>
  </li>
<% end %>
