<% content_for :head do %>
  <%= javascript_include_tag 'jquery.tablesorter.min.js' %>
  <script>
    $(document).ready(
      function(){
	//$(".tablesorter").tablesorter({ headers: { 7: { sorter: false} } });
      }
    );
  </script>
<% end %>

<% content_for :sub_actions do %>
  <%= sub_toolbar do %>
    <%= new_action(SysImage, {"original-title" => "New System Image"} ) %>

    <% if @filters.length > 0 %>
      <%= add_image_action(sys_images_path+"?filter=clear", 'clear.png', 'Clear') %>
      <%= add_image_action("#", 'filter-2.png', 'Show Active Filters', :onclick => "$('#active-filters-dialog').addClass('dialog-active')") %>
    	<% modal_dialog("Active Filters:", "active-filters-dialog") do %>
    	  <% active_filters(sys_images_path) %>
        <% end %>
      <% end %>
  <% end %>
<% end %>


<% if @error.nil? == false %>
  <% content_for :content do %>
    Invalid Filter.
  <% end %>  
<% elsif @resources.nil? or @resources.length == 0 %>
  <% content_for :content do %>
    No images on your Library.
  <% end %>
<% else %>

  <% content_for :content do %>
    <%= will_paginate @resources, :previous_label => "Previous", :next_label =>"Next" %>
    
    <table id="sysimages" class="grid-view tablesorter">
    <%= generate_table_headers(SysImage, sys_images_path, 
	    :fields => [ "id", "user_id", "name", "kernel_version_os", "updated_at", "__actions"],
	    :labels => { "id" => "#", "user_id" => "Creator", "kernel_version_os" => "Kernel Version / Operating System" }, 
	    :refs => { 
	      "user_id" => [User, nil, "eq"], 
	      "kernel_version_os" => [nil, nil, "like"] 
	    },
	    :filters => {
	      "id" => 'integer_field_select', 
	      "user_id" => 'string_list_field:custom',  
	      "kernel_version_os" => 'string_list_field',
	      "updated_at" => 'text_field',
	    }) do |u| %>
	<% if u.field_filter == "user_id" %>
	  <%= gravatar_for u, :size => 36  %>
	  <%= link_to u.name, filter_path(sys_images_path, "user_id", "eq", u.id.to_s) %>
	<% end %>
    <% end %>
    <tbody>
      <% @resources.each do |sys_image| %>
	<% creator = User.find(sys_image.user_id) %>
	<tr>
	  <td><%= link_to sys_image.id, sys_image, :class => "underline" %></td>
	  <td><%= link_to creator.name, user_path(:id => creator.id) %></td>
	  <td><%= link_to sys_image.name, sys_image, "original-title" => sys_image.description %></td>
	  <td><%= sys_image.kernel_version_os %></td>
	  <td><%= sys_image.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
	  <td>
	    <div class="table-actions">
          <%= edit_action(sys_image, {:link => true, :text => false, "original-title" => "Edit System Image"} ) %>
          <%= delete_action(sys_image, { :confirm => "Are you sure?", :link => true, :text => false, "original-title" => "Delete System Image"}) %>
	    </div>
	  </td>
	</tr>
      <% end %>
    </tbody>
    </table>
  <% end %>
<% end %>
