<% unless params[:id].nil? then @experiment = Experiment.try(:find, params[:id]) end %>
function caption(options){  
  var context = $("#caption-experiment");
  var img = $("img", context);
  if (options.image) { img.show() } else { img.hide() }
  if (options.text)  { $(".text", context).html(options.text); }
  if (options.action && context[options.action]) { context[options.action](); }
}

function hideCaption(){ 
  caption({ action : "hide" }); 
}

function showCaption(text, loading){
  var options = { action : "show"};
  if (loading) { options.image = true; }
  if (text) { 
    options.text = text;
    caption(options);
  }
}

function log(text){ 
  $("#log_area").val(text); 
}

function hideLog(){
  $("#log-tab-sel").hide();
  $("#log").hide();  
}

<% unless @experiment.blank? %>
  function changeBranchActions(){
    var current_branch = $("#parent option:selected").text(),
        href = "<%= experiment_url(@experiment) %>?branch="+current_branch;
    window.location = href;
}

function buttonChange(buttons){
  var values = ["start","stop","prepare","run"];    
  for(i=0;i<values.length;++i){ 
    $("#"+values[i]+"-experiment-button").addClass("button-disabled"); 
  }
  for(i=0;i<buttons.length;++i) {
    if (values.indexOf(buttons[i]) != -1){
      $("#"+buttons[i]+"-experiment-button").removeClass("button-disabled");
    }
  }
}
  
function showStatus(estatus, session, options) {
  var target = "#experiment-briefing", buttons = ["stop"];
  $("#experiment-briefing").empty();
  var started = (session == <%= ExperimentStatus.STARTED %>),
      preparing = (session == <%= ExperimentStatus.PREPARING %>);

  switch(estatus){
    case <%= ExperimentStatus.UNINITIALIZED %>:
      buttons = ["run"];
      break;
    case <%= ExperimentStatus.PREPARED %>:      
      if (!options.text && preparing) {
        options.text = "<p class=\"text success\">Preparation finished</p>";
      }
      buttons = ["run"];
      break;    
    case <%= ExperimentStatus.PREPARING %>:
      $("#images-loading").empty();
      $("#prepare-status-template").tmpl(options.data).appendTo("#images-loading");
      options.text = "Loading system images on nodes";
      options.image = true;
      setTimeout(experimentStat,2000);
      break;
    case <%= ExperimentStatus.STARTED %>:
      options.text = "Running experiment";
      options.image = true;
      setTimeout(experimentStat,2000);
      break;
    case <%= ExperimentStatus.FINISHED %>:
      if (!started) { 
        options.text = undefined; 
      }
      buttons = ["run"];
      break;
    case <%= ExperimentStatus.FINISHED_AND_PREPARED %>:
      if (!started) { 
        options.text = undefined; 
      }
      buttons = ["run"];
      break;
    case <%= ExperimentStatus.PREPARATION_FAILED %>:
      if (preparing) { 
        options.error = "Preparation failed";
      }
      buttons = ["run"]
      break;
    case <%= ExperimentStatus.EXPERIMENT_FAILED %>:
      if (started) { 
        options.error = "Experiment failed";
      }
      buttons = ["run"];
      break;
    default:      
      break;
  }
  $("#experiment-status-template").tmpl(options).appendTo("#experiment-briefing");
  buttonChange(buttons);
}
<% end %>
function experimentStat() {
  var extra = "?log";
  var tab = $(".tab-active")  
  var base = "<%= stat_experiment_path(:id => @experiment.try(:id), :format => :js) %>"
  var url = (tab.find("a").attr("href") == "#log") ? base+"?log" : base 
  $.getScript(url)
}
