<% params.merge!(Rails.application.routes.recognize_path(params[:p])) %>

<% if (@a == "new") or (@a == "create") or (@a == "show")%>
$(".field > #experiment_submit").hover(function() {
  var _toggle = 'arrow-active-toggle'
  var _selector = $('.arrow-active')
  if (_selector.hasClass(_toggle) == false) {
    _selector.addClass(_toggle);
  } else {
    _selector.removeClass(_toggle);
  }
  });
$("select#map").change(function(){      
  var _this = $(this);  
  var value = _this.val()+".js?mode=embed";
  //_this.attr("selected", "true");
  $.getScript("<%= testbeds_path %>/"+value);
});

$("#table-mapped-nodes > tr").live('hover', function(evt){
  var id = $(this).attr("id").replace(/map-/g,"");
  var node_id_sel = "#node-"+id;
  $(node_id_sel).toggleClass("node-active");
});

$(".node").live('hover', function(evt){
  var node_id = this.id.split('-')[1];
  $("#map-"+node_id).toggleClass("grid-line-hover");
});

$(".node").live('click', function(evt){
  var node_id = this.id.split('-')[1];
  var $this = $(this);
  $this.toggleClass("node-selected");
});

$("#remove-action").live("click", function(evt){    
  var nodes = $(".node-selected");
  for(i=0;i<nodes.length;++i){
     var node = nodes[i].id.replace("node-", "");
     $("#map-"+node).remove();
     $("#node-"+node).removeClass("mapped").css("background-color", "gray");
  }
});
$("#associate-action").live("click", function(evt){    
    var n_images = $("#experiment_sys_images").attr("last");
    var __sys_image = $("#experiment_sys_images option:selected");
    var image = { id : __sys_image.val(), name : __sys_image.text()  }
    
    var selected_nodes = $(".node-selected");
    var n_selected = selected_nodes.length;
    var tmp = image.id/n_images;
    var color = { d : tmp, bg: rgb_color(tmp) } 
    var mini_table_mnodes = $("#table-mapped-nodes");

    var select_image = $("#experiment_sys_images option:selected").text();
    selected_nodes.css("background-color", color.bg);
    selected_nodes.each(function(index, value){
        var _id = value.innerHTML;
        var node = { 
          id: _id, 
          selector: $("#map-"+_id), 
          sys_image: image.id,          
          for_name: "nodes_"+_id+"_"+image.id,
          name: "experiment[nodes]["+_id+"][sys_image]"
        };
        var str = "<td>"+node.id+"</td> <td>"+image.name+"</td><td style='width:12px;height:12px;background-color:"+color.bg+"'><input id='"+node.for_name+"' name="+node.name+" type='hidden' value='"+image.id+"' /></td>";
        if (node.selector.length == 1){
          node.selector.html(str);
        } else {
          mini_table_mnodes.append("<tr id='map-"+node.id+"'>"+str+"</tr>");
          $(value).toggleClass("mapped");
        }
    });

/*    selected_nodes.toggleClass("node-selected");*/
});

<% end %>
<% if (@a == 'show') %>
<% experiment = Experiment.find(params[:id])%>

// anchor points "redirect"
var url = document.location.toString();
if (url.match('#')) { 
    // click the navigation item corresponding to the anchor
    var anchor = '#' + url.split('#')[1];
    var elem = $('.tabs > li > a[href="'+anchor+'"] ');
    elem.parent().click();
}

$(".show-dump-anchor").live("click", function(evt){
  $("#modal-dialog > .title-box").html("Results SQlite3 Database Dump");
  $("#modal-dialog > .modal-container").html("<textarea id=\"dump\" cols=\"0\" rows=\"0\"></textarea>");
  var tmp = $("#modal-dialog, .modal-container")
  tmp.css("width","700px"); 
  $("#modal-dialog").css("height","500px").css("top","20%").css("left", "30%");
  $(".modal-container").css("height","465px"); 
  var run = $("#runs option:selected").text();
  $("#modal-dialog > .modal-container > #dump").load("<%= experiment_path(experiment, :format=>"sq3") %>?run="+run+"&dump=true",
    function(){
      if (CodeMirror != undefined) {
        CodeMirror.fromTextArea('dump', {
          parserfile: ["../parsesql.js"],
          stylesheet: "/stylesheets/codemirror/sqlcolors.css",
          path: "/javascripts/codemirror/base/",
          lineNumbers: false,
          textWrapping: false,
          indentUnit: 2,
          parserConfig: {},
          readOnly: true,
          height: "465px",
          width: "100%"
        }, 0);
      }        
      $("#modal-dialog").fadeIn();
      $("#modal-dialog").toggleClass("dialog-active");
    }
  );  

});


$("#run-experiment-button").live('click', function(evt){
    $.getScript("<%= run_experiment_path(experiment) %>", function(evt){  
      $("#run-experiment-button").addClass("button-disabled");
      $("#stop-experiment-button").removeClass("button-disabled");
      });
});

$("#prepare-experiment-button").live('click', function(evt){
    $.getScript("<%= prepare_experiment_path(experiment) %>", function(evt){
      $("#prepare-experiment-button").addClass("button-disabled");
      $("#stop-experiment-button").removeClass("button-disabled");
      });
});

$("#start-experiment-button").live('click', function(evt){
  $.getScript("<%= start_experiment_path(experiment) %>", function(evt){
    $("#start-experiment-button").addClass("button-disabled");
    $("#stop-experiment-button").removeClass("button-disabled");
  });
});
$("#stop-experiment-button").live('click', function(evt){
    var text = $("#experiment-widget-tabs").html();
    var warn = $("#stop-warn");
    if (warn.length == 0) {
      $("#status").prepend("<p id=\"stop-warn\" class=\"notice\">Stopping not available in the moment.</p>");
    }
});

<% if experiment.finished? %>
$("select#runs").change(function(){
  var _this = $(this);
  var run = _this.val();
  var download_link = "<%= experiment_path(:id => experiment.id , :format => "sq3") %>?run="+run;
  var data_link = "<%= experiment_path(:id => experiment.id , :format => "js") %>?data&run="+run;
  $("#run-download-link").attr("href", download_link);
  $.getScript(data_link);
});
<% elsif !experiment.failed? %>
  $.getScript("<%= stat_experiment_path(experiment) %>");
<% end %>
<% end %>
