<% content_for :sidebar do %>
  <ul resource="sys_images">	
    <li class="file-list-action">
	<%= link_to "New User", new_admin_user_registration_path, :class => "action-name" %>
	<%= link_to(new_admin_user_registration_path, :class => "admin-list-action") do %>
	  <%= image_tag "add.png", {:height => 16, :width => 16} %>
	<% end %>  
    </li>

    <% User.all.each do | user | %>
      <li id="<%= user.id %>" class="file-item">
	<%= link_to user.name, admin_user_path(:id => user.id) %>
	<%= link_to(admin_user_path(user), :class => "ul-action", :method => "delete") do %>	
	  <%= image_tag "remove.png", {:height => 16, :width => 16} %>
	<% end %>  
      </li>
    <% end %>
  </ul>
<% end %>