<% content_for :sub_actions do %>
<div id="sub-toolbar">
  <% sub_toolbar do %>
  <%= back_action( :back ) %>
  <% end %>
</div>
<% end %>

<% content_for :content do %>
<%= clear %>
<%= form_for(@user, :url => admin_user_path(@user), :html => { :method => :put }) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :institution %><br />
    <%= f.text_field :institution %>
  </div>

  <% for role in User::ROLES %>
    <%= check_box_tag "user[roles][]", role, @user.roles.include?(role) %>
    <%= h role.humanize %><br />
  <% end %>
  <%= hidden_field_tag "user[roles][]", "" %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<% end %>

