<% content_for :head do %>
  <%= javascript_include_tag 'jquery.tablesorter.min.js' %>
  <script>
    $(document).ready(
      function(){
	//$(".tablesorter").tablesorter( { headers: { 0: { sorter: false}, 5: { sorter: false} } });
      }
    );
  </script>
<% end %>

<% content_for :sub_actions do %>
  <%= sub_toolbar do %>
    <%= new_action(new_admin_user_registration_path, {"original-title" => "Register new User"} ) %>

    <% if @filters.length > 0 %>
      <%= add_image_action(admin_users_path+"?filter=clear", 'clear.png', 'Clear') %>
      <%= add_image_action("#", 'filter-2.png', 'Show Active Filters', :onclick => "$('#active-filters-dialog').addClass('dialog-active')") %>
      <% modal_dialog("Active Filters:", "active-filters-dialog") do %>
    	<% active_filters(admin_users_path) %>
	  <% end %>
	<% end %>
  <% end %>
<% end %>


<% if @error.nil? == false %>
  <% content_for :content do %>
    Invalid Filter.
  <% end %>  
<% elsif @resources.nil? or @resources.length == 0 %>
  <% content_for :content do %>
    No Users.
  <% end %>
<% else %>
  <% content_for :content do %>
    <table id="users" class="grid-view tablesorter">
    <%= will_paginate @resources, :previous_label => "Previous", :next_label =>"Next" %>
    <%= generate_table_headers(Ed, admin_users_path, 
	    :fields => [ "", "id", "name", "username", "email", "activated", "last_sign_in_at", "__actions"],
	    :labels => { "id" => "#", "activated" => "Account Status" }, 
	    :refs => { },
	    :filters => {"id" => 'integer_field_select', "activated" => 'bool_field', "last_sign_in_at" => 'text_field'}) %>
    <tbody>
      <% @resources.each do |user| %>
	<tr>
	  <td class="gravatar-cell"><%= gravatar_for user, :size => 24  %></td>
	  <td class="underline"><%= link_to user.id, admin_user_path(:id => user.id) %></td>
	  <td><%= link_to user.name, admin_user_path(:id => user.id) %></td>
	  <td><%= user.username %></td>
	  <td><%= link_to user.email, "mailto:"+user.email.to_s %></td>
	  <td>
	  <% if user.admin? == false %> 
	    <% if user.activated? %>  
	      Activated
	    <% else %>
	      Deactivated
	    <% end %>    
	  <% end %>    
	  </td>
	  <td><% unless user.last_sign_in_at.nil? %><%= user.last_sign_in_at.strftime("%Y-%m-%d %H:%M:%S") %><% end %></td>
	  <td class="actions-2">
	    <div class="table-actions">
	      <!--<%= link_to(admin_user_path(user), :class => "action")  do %><%= image_tag "edit.png", {:height => 16, :width => 16} %><% end %>-->	      
		<% if user.activated? %>  
		  <%= link_to(user_activate_path(:user_id => user.id), :class => "action", :method => :put) do %><%= image_tag "disable.png", {:height => 16, :width => 16} %><% end %>
		<% else %>
		  <%= link_to(user_activate_path(:user_id => user.id), :class => "action", :method => :put) do %><%= image_tag "enable.png", {:height => 16, :width => 16} %><% end %>	  
		<% end %> 	      
	      <%= link_to(admin_user_path(:id => user.id), :class => "action", :method => "delete") do %><%= image_tag "remove.png", {:height => 16, :width => 16} %><% end %>  
	    </div>
	  </td>
	</tr>
      <% end %>
    </tbody>
    </table>
  <% end %>
<% end %>
