<% _controller = self.request.parameters[:controller] %>
<% _action = self.request.parameters[:action] %>
<% _path = self.request.headers["PATH_INFO"] %>

<!DOCTYPE html>
<html>
<head>
  <title>AMazINg Panel</title>
  <%= stylesheet_link_tag :all, :media => 'all', :cache => true %>  
  <%= javascript_include_tag :defaults, :cache => true %>
  
  <%= javascript_include_tag "/javascripts/application.js?c=#{_controller}&a=#{_action}&p=#{_path}" %>
  <%= stylesheet_link_tag "/stylesheets/custom.css?c=#{_controller}&a=#{_action}&p=#{_path}", :media => 'all' %> 

  <%= yield :head %>
  <%= csrf_meta_tag %>
</head>
<body>
    <div class="overlay"></div>
    <div id="top-border"></div>
    <header id="header">      
    <a id="logo" href="/"><%= image_tag('amazing.png', :width => "100", :height => "50") %></a>
      <div id="omni-box" class="fixed-width">
	  <ul id="omni-global">
        <% if user_signed_in? %>
          <%= add_omni_action(gravatar_for(current_user)+"Profile", user_path(current_user.id), {}, {:action_class => [current_user_page, "omni-item-root"] }) %>
          <%= add_omni_action("Logout", destroy_user_session_path, {:controller => "users/sessions", :action => "destroy"}) %>
	    <% else %>
          <%= add_omni_action("Login", new_user_session_path, {:controller => "users/sessions", :action => "new"}, {:action_class => ["omni-item-root"]}) %>
          <%= add_omni_action("Register", new_user_registration_path, {:controller => "users/registrations", :action => "new"}) %>
	    <% end %>
	  </ul>
      </div>
    </header>
    
    <% if user_signed_in? %>
      <nav id="nav-global">
	<div id="nav-container">
      <ul id="menu-global">
        <%= add_nav_action(image_tag("home-icon-2.png", :align => "middle"), root_path, {:controller => "pages"}, {:action_class => ["home-item"]}) %>
        <% if can? :show, Testbed %>
          <%= add_nav_action("Testbeds", testbed_path(Testbed.first), {:controller => "testbeds"}) %>
        <% end %>
        <% if can? :queue, Experiment %>
          <%= add_nav_action("Queue", queue_experiments_path, {:controller => "experiments", :action => "queue", :has_action => true}) %>
        <% end %>
        <% if can? :index, Project %>
          <%= add_nav_action("Workspaces", projects_path, {:controller => ["projects"]}) %>
        <% end %>
        <% if can?(:index, Ed) or can?(:index, SysImage) %>
          <%= add_nav_action("Library", library_index_path, {:controller => ["library/library", "library/eds", "library/sys_images"]}) %>
        <% end %>
        <% if current_user.admin? %>
            <%= add_nav_action("Admin", admin_admin_index_path, {:controller => ["admin/admin", "admin/users", "admin/eds", "admin/sys_images", "admin/registrations", "admin/testbeds"]}) %>
  	    <% end%>
	  </ul>
	</div>
      </nav>
    <% end %>
    <section id="main-section">
      <div class="container">
	  <% flash.each do |key, value| %>
    	  <p class="<%= user_signed_in? ? "flash-msg-integrated  #{key}" : key %>">
            <%= value %>
          </p>
    	<% end %>
	<%= yield(:main_content) %>
	<%= yield %>
      </div>  
    </section>

       
    <footer id="footer">
      <%= yield(:footer) %>
      </footer>
    <%= yield(:bottom_scripts) %>
 

</body>
</html>
