<% content_for :main_content do %>
  <div id="toolbar">
    <ul id="toolbar-action-list">
      <% if can? :index, Ed %>
        <%= add_action 'Experiment Definitions', eds_path, { :controller => 'library/eds' } %>
      <% end %>
      <% if can? :index, SysImage %>
        <%= add_action 'System Images', sys_images_path, { :controller => 'library/sys_images'} %>
      <% end %>
      <%= add_action 'Applications', applications_path, { :controller => 'library/applications'} %>
    </ul>
  </div>
  
  <div class="clear"></div>
  
  <div id="sub-toolbar">
    <%= yield :sub_actions %>
  </div>
  
  <br />
  <div id="file-show">
    <%= yield :content %>
  </div>

  <div class="clear"></div>
<% end %>

<%= render :template => 'layouts/application' %>
